<!doctype html>
<html lang="en">
<div  class="contactForm">
    <div>
        <div>
            <h1>Contact Form</h1>
              <form (ngSubmit)='addContact()'>
                <input placeholder="Add Contact First Name" name="fname" [(ngModel)]="contact.fname">
                <p></p>
                <input placeholder="Add Contact Last Name" name="lname" [(ngModel)]="contact.lname">
                <p></p>
                <input placeholder="Add Contact Phone Number" name="phone" [(ngModel)]="contact.phone">
                <p></p>
                <input placeholder="Add Contact Email" name="email" [(ngModel)]="contact.email">
                <p></p>
                <input placeholder="Add Contact Address" name="address" [(ngModel)]="contact.address">
                <p></p>

                <button type="submit" >Add</button>
              </form>
        </div>
        <div>
            <p></p>
            <div> <h2>Contact List</h2></div>
            <div class= contactList *ngFor="let contact of contacts$ | async; let i=index">
              <span >{{i+1}}.</span> {{contact.fname}} {{contact.lname}}
                    <div *ngIf="isShown[i] == true; else hide">
                        <p></p>
                        <p>Phone: {{contact.phone}}</p>
                        <p>Email: {{contact.email}}</p>
                        <p>Address: {{contact.address}}</p>
                        <button class="button" (click)="toggleShow(i)" type="checkbox">Hide details</button>
                    </div>
                  <ng-template #hide>
                    <button class="button" (click)="toggleShow(i)" type="checkbox">Show details</button>
                  </ng-template>            
                </div>
            </div>
        </div>
    </div>
</html>


