.contactForm {
    height: 100;
    width: 50%;
    margin: auto;
    text-align: center;
    background: teal;
    border: 3px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
}

.contactList {
    background-color: rgb(0, 107, 107);
    border: 1px solid #000;        
    justify-content: space-between;
    margin: 0 auto;
    padding: 1em;
    width: 40%;
    text-align: center;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 8px;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
}


